body {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.first-screen {
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    height: 800px;
    background-size: cover;
    position: relative;
}

.first-screen > .container {
    width: auto;
    margin: auto;
    padding-right: 110px;
    padding-left: 120px;
    z-index: 1;
    position: relative;
}

.header-line {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 44px;

}

.nav {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    height: 19px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 80px;


}

.nav-item {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: black;
    transition: color 0.2s linear;

}

.nav-item:hover { /* псевдокласс, будет происходить в тот момент, когда мы наводим мышкой */
    color: #46B1DE;
}

.logo {
    display: flex;
    flex-direction: row;
    margin-right: 120px;

}

.logo-tooth {

}

.logo-text {
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 400;
    font-size: 38px;
    color: #46B1DE;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    line-height: 35px;

}

.dent {
    font-size: 27px;
    color: #46B1DE;
}


.contact {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: black;
    display: flex;
    flex-direction: row;


}

.contact-photo {
    margin-left: 84px;
    margin-right: 23px;
    align-items: center;
    display: flex;
}

.language {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;

}

.language > a:first-child {
    border-right: 1px solid #1B1D1F;
    padding-right: 11px;
    height: 22px;
}

.language > a:last-child {
    padding-left: 5px;
}

.language > .active{
    font-weight: 700;
}

.text-lable {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: black;
    position: relative;
    padding-bottom: 30px;
    /* width: 530px; */
    /* height: 158px; */
    line-height: 130%; /* интерлиняж*/
    letter-spacing: 0.1em; /* трекинг, инткрвал между словами*/

}


.dental {
    color: #46B1DE;
}

.description {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: black;
    position: relative;
    width: 465px;
    height: 66px;
    line-height: 140%;
    padding-bottom: 48px;

}

.but {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    display: flex;
    flex-direction: row;
    justify-content: start;

}

.butt-one, .butt-two {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 600; /* нужно 500*/
    text-align: center;
    width: 180px;
    height: 60px;
    font-size: 19px;
    border: none;
    border-radius: 8px; /* заокругленніе края*/

}

.butt-one {
    background: linear-gradient(97.59deg, #46B1DE 9.8%, #0591CC 95.1%);
    box-shadow: 0px 2px 10px #46B1DE;

    color: #fff;
    transition: 0.3s;
}

.butt-one:hover {
    transform: scale(1.1); /* время эфекта*/
}

.butt-two {
    background-color: #fff;
    mix-blend-mode: normal;
    border: 1px solid #DDE0DC;
    box-shadow: 0px 2px 10px #DDE0DC;

    transition: 0.3s;
}

.butt-two:hover {
    transform: scale(1.1);
}

.butt-two {
    margin-left: 120px;
}

.a-one {
    color: #fff;
}

.a-two {
    color: #46B1DE;
}

.achievements{
    position: relative;
}

.achievements > .conteiner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    bottom: -50px;
}

.conteiner-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;

    z-index: 2;
    position: relative;
}

.card-achiev {
    width: 280px;
    height: 120px;
    background: #FFFFFF;
    border: 1px solid #D8E1E1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

    display: flex;
    flex-direction: row;

}

.cont-achiev {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}

.num, .num-90 {
    height: 120px;
    color: #46B1DE;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 65px;

    display: flex;
    align-items: center;
    text-align: center;


}

.num {
    width: 93px;
}

.num-90 {
    width: 133px;
}

.text-one {
    height: 64px;
    width: 146px;
}

.text-two {
    height: 32px;
    width: 95px;
}

.text-three {
    height: 48px;
    width: 120px;
}

.image {
    z-index: 0;
    position: absolute;
    bottom: 0;
    right: 0;
}

.img-woman {

}

.two-screen {
    margin-top: 120px;

}

.conteiner-who {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.two-screen .container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.con-who {
    margin-bottom: 50px;
}

.text-who {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 34px;
    text-align: center;
    color: #46B1DE;
    margin-top: 10px;
}

.text-descript {
    width: 612px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin: auto;
}

.while-cards{
    background: #A1C7D4;
    padding: 16px 16px 4px 16px;
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
    width: 1020px;
    justify-content: space-between;
}

.black {
    font-weight: 400;
    color: #000;
}

/*card WHY*/

.card-one {
    width: 260px;
    height: 156px;
    background: #FFFFFF;
    border-radius: 8px;
    margin-bottom: 12px;
    padding: 10px 20px;
}

.content-inner {
    display: flex;
    flex-direction: column;
}

.content-inner-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 25px;
}

.number {
    color: #46B1DE;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 40px;
}

.heder-blue {
    color: #46B1DE;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    margin-left: 15px;
}

.descript-black {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.header-services {
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    text-align: center;
    margin-bottom: 55px;
    font-weight: 400;
    color: #000000;
}

.header-services > .services {
    font-weight: 600;
    color:#46B1DE ;
}

.conteiner-tooth-in-rine {
    
}
.three-screen {
    margin-top: 90px;
    position: relative;
}

.ring {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      border: 1px solid #1B1D1F;
      position: relative;    
      
}
.tooth {
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translate(-50%, -50px);
   
}
.b-one {
    top: 40px;
    left: 253px;
}
.b-two {
    top: 36px;
    left: -2px;
}
.b-three {
    top: 130px;
    left: -67px;
}
.b-four {
    top: 223px;
    left: -70px;
}
.b-five {
    top: 130px;
    left: 176px;
}
.b-six {
    top: 222px;
    left: 121px;
}
.ring button {
    background-color: #46B1DE;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    position: relative;
    color: #fff;
    font-family: 'Sofia Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    border: none;
}

.conteiner-tooth-in-rine {
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteiner-circle {
    position: relative;
    
}
.circle {
    background-color: #46B1DE;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    position: relative;
    
}


.general-block {
    position: absolute;

}
.help-right-one, .help-right-two, .help-right-three, .help-left-four, .help-left-five, .help-left-six {
    display: flex;
    flex-direction: column;
    width: 320px;
    position: absolute;
}
.help-right-one, .help-right-two, .help-right-three {
    text-align: right;
}
.help-left-four, .help-left-five, .help-left-six {
    text-align: left;
}

.help-right-one {
    right: 168px;
    bottom: 43px;
}
.help-right-two {
    right: 204px;
    bottom: -88px;
}
.help-right-three {
    right: 145px;
    bottom: -230px;
}
.help-left-four {
    left: 158px;
    bottom: 41px;
}
.help-left-five {
    left: 199px;
    bottom: -93px;
}
.help-left-six {
    left: 139px;
    bottom: -230px;
}

.header-servis {
    /* width: 187px; */
    height: 27px;  
    color: #46B1DE;
    font-size: 20px; 
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    margin-top: 5px;    

}
.desc {
    /* width: 338px; */
    height: 80px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    flex-wrap: wrap;
    font-size: 16px;
    color: #1B1D1F; 
}
.main-providedServices-block {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    max-width: 96vw;
    margin: 55px auto 0 auto; */
    /* position: relative; чи absolute? */
    
}
.all-in-two {
    /* position: absolute; */
}
.all-in-three {
    position: absolute;
}
.alert {
    
    margin-top: 148px;
}
.alert > .conteiner {
    
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: 100%;
}
.trigon {
    
}
.text-alert {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #46B1DE;
    margin-left: 16px;
}

.appointment {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 87px auto 0;
    width: 845px;
    height: 265px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.border-outer {
     
    width: 821px;
    height: 247px;
    border-radius: 10px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    backdrop-filter: blur(4px); /* для применения эффектов фильтрации к заднему плану элемента*/
}
.border-inner {
    text-align: center;
    margin-top: 29px;
}
.border-inner h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 22px;
    text-transform: uppercase; /*все заглавные*/
}
.border-inner p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-top: 7px;
}
.appointment-conteiner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 45px 21px 0 18px;
   
}
.appointment-name {
        width: 233px;
        height: 57px;
        left: 298px;
        top: 1592px;
        background: rgba(217, 217, 217, 0.71);
        border-radius: 8px;
        font-size: 19px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        display: flex;
        align-items: center;
}
.appointment-name img {
    margin-left: 10px;
    height: 22px;
    width: 24px;
    border-right: 1px solid #000;
    padding-right: 11px;
}
#user-name { 
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 27px;
    color: rgba(27, 29, 31, 0.51);
    border: none;
    background-color: transparent;
    width: 150px;
    margin-left: 10px;
}

.appointment-tell {
    width: 233px;
    height: 57px;
    left: 600px;
    top: 1591px;
    background: rgba(217, 217, 217, 0.71);
    border-radius: 8px;
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    display: flex;
    align-items: center;
}
.appointment-tell img {
    margin-left: 10px;
    height: 24px;
    width: 24px;
    border-right: 1px solid #000;
    padding-right: 11px; 
}


#user-tell {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 27px;
    color: rgba(27, 29, 31, 0.51);
    border: none;
    background-color: transparent;
    width: 150px;
    margin-left: 10px;

}
#appointment-button {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* padding: 16px 35px; */
    gap: 10px;
    width: 180px;
    height: 57px;
    left: 900px;
    top: 1592px;
    background: #46B1DE;
    border: transparent;
    border-radius: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}
/* font-family: 'Sofia Sans', sans-serif;
font-weight: 400;
font-size: 38px;
color: #46B1DE; */

/* 
font-family: 'Roboto', sans-serif;
font-family: 'Sofia Sans', sans-serif; */
.photo-all {
    
    
    margin-top: 100px;
    margin-bottom: 90px;
}
.photo-all > .conteiner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    width: 100%;
   
}
.photo-conteiner { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    justify-content: center;
}
.photo {
    border-radius: 8px;
}

/*footer*/

.footer {
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient( #A1C7D4, #0680AA);
    width: 100%;
}
.conteiner-for-text {
    position: relative;
}
/* .logo-home-working {
    margin-left: 116px;
    margin-top: 65px
} */
.conteiner-logo-thooth {
    display: flex;
    align-items: center;
    margin-left: 116px;
    margin-top: 65px
}
.photo-thooth-blue{
}
.header-logo {
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 400;
    line-height: 27px;
    font-size: 39px;
    color: #0f2d4a;
}
.dentist-text {
    line-height: 38px;
    font-size: 27px;
    
}
.home-working {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
}
.home-language {
    margin-top: 30px;
    margin-left: 113px;
    
    
}

.home {
    margin-top: 30px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;

}
.home-home {

}
.home-services {
    margin-top: 20px;
    margin-bottom: 27px;
}
.language {
    margin-bottom: 95px;
}
.language-ua {
}
.active {
}
.language-en {
}
.working {
    position: absolute;
    margin-left: 352px;
    margin-top: 98px;
}
.header-working {
    font-weight: 600;
    padding-bottom: 7px;
}
.mon-fri {
   line-height: 27px;
}
.contacts {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-top: 36px;
    /* margin-left: 378px; */
    color: #fff;
}
.contacts h2 {
    font-weight: 600;
    font-size: 34px;
    margin-bottom: 20px;
}
.contacts p {
    margin-bottom: 15px;
}
.header-contacts {
}
.contacts-details {
}
.details-text {
}

.contacts-tell {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.contacts-tell img {
    margin-right: 13px;
}
.contacts-tell a {
    color: #fff;
}
.details-photo-sotial {
    display: flex;
    margin-top: 13px;
    justify-content: space-between;
    width: 130px;
}
.details-block a{
    display: flex;
    align-items: center;
    margin-top: 13px;
    color: #fff;
}
.details-block  {
    display: flex;
    flex-direction: column;
}
.details-block img {
    margin-right: 13px;
}
.footer-copyright {
    margin-top: 12px;
    margin-left: 212px;
    font-size: 17px;
}

