.services-block p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
}
.services-block div {
    margin-left: 25px;
    text-align: end;
    width: auto;
    
}